@import '../_colors';

#about {
  background-color: rgba(255, 255, 255, 0.8);
  color: $red;
  font-size: 1.2rem;
  padding: 10px 50px;
  text-align: left;

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  blockquote {
    margin: 30px 0 10px;
    font-size: 1.4rem;
    p {
      margin: 0;
    }
  }

  p {
    margin-bottom: 1em;
  }

  #datagueule {
    margin: 20px auto;
    display: block;
  }
}