$black: #000;
$text-color: #333333;

$white: #FFFCDF;
$red: #ff5555;

$orange: #d35400;
$light-blue: #B5DDC2;
$light-blue-patterned: #BBD3C3;
$black: #1E1E1E;
$lightgrey: #ededed;
$gold: #FFD700;

$fbblue: #3B5998;

$shadow: #777;