extends layout

block content
  .row
    .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
      #about
        include:markdown ./_about.md
        iframe(id="datagueule", style='max-width: 600px; width: 100%; height: 300px;' src="https://www.youtube.com/embed/xhY5UuBvIo8", frameborder="0", allowfullscreen)
        p For the love of music,

        p
          a(href='https://augustin-riedinger.fr', target='_blank') Augustin Riedinger