extends layout

block meta
  title NovaTube
  meta(property='og:title', content='NovaTube')
  meta(property='og:image', content=fullUrl('/images/novatube.png'))
  meta(property='og:url', content=fullUrl())
  - var description = 'Continuous Nova playlist based on last played tracks played with Youtube.';
  meta(property='og:description', content=description)
  meta(name='description', content=description)
  meta(name='keywords', content='Music,Streaming,Radio,Nova,Playlist,Youtube')

block content
  .row
    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .box
        .row
          .col-sm-12
            .now-playing
              .row
                .col-sm-8.col-sm-push-2
                  #now
                .col-sm-2.col-sm-pull-8.marged-small-screen.col-xs-6
                  button.btn.btn-facebook.btn-block(title='Share Track on Facebook', onClick='Social.facebookShare()')
                    span.icon-facebook
                    span.hidden-md.hidden-sm Share
                .col-sm-2.marged-small-screen.col-xs-6
                  #options
                //- #social
        .row
          .col-sm-12
            .player-wrapper
              #player
                span.icon-youtube
              #progressBar

        .row
          .col-sm-12.controls
            #controls
          .col-sm-12
            #trackscroll
          .col-sm-12
            p.more-sources-tip
              strong= 'TIP : '
              = 'Need more music ? '
              a(onclick="document.querySelector('#options button').click()") Check the options
              | , other radio sources are available (FIP, Radio Sympa ...)
block js
  script(src='https://www.youtube.com/iframe_api', async)