doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=`${_csrf} || 'disabled'`)
    meta(name='application-name', content='NovaTube')
    meta(name='fb:app_id', content='473998136082203')
    link(rel='icon', type='image/x-icon', href='/favicon.ico')
    block meta
    link(href='https://fonts.googleapis.com/css?family=Lato|Playfair+Display:900i' rel='stylesheet')
    != css('application')
  body
    .container-fluid
      #title
        h1
          a(href='/')
            | NovaTube
        .separation
        p#subtitle
          | Continuous
          |
          a(href='http://nova.fr', target='_bank') Nova
          |  playlist based on
          |
          a(href='http://nova.fr/radionova/radio-nova', target='_bank') last played tracks
          | .
          br
          br
          a(href='/about') &gt; Learn about the project &lt;

      block content
      footer.text-center
        p
          | By using Novatube, the user accepts
          |
          a(href='https://www.youtube.com/t/terms', target='_blank') YouTube Terms Of Services
          |  and
          |
          a(href='https://policies.google.com/privacy', target='_blank') Google Privacy policy
          | .
        p
          hr
        p
          | Made for the
          span.icon-heart(title='Love')
          |  of music:

    #bookmarkme.hidden-xs.hidden-sm
      span.icon-star
      a.link(href=`/?novaTubeUserId=${novaTubeUserId}`, title='Bookmark Novatube to save your profile (liked & skipped tracks)')
        | NovaTube

    #flag-modal
    #config-modal

    != js('application')
    block js
