extends home

block meta
  - var title = `${track.title} by ${track.artist} on ${track.source.capitalize()} - NovaTube`;
  title= title
  meta(property='og:title', content=title)
  meta(property='og:image', content=fullUrl(`/track/${track.youtubeID}/cover`))
  meta(property='og:url', content=fullUrl(`/track/${track.youtubeID}`))

  - var description = `Listen to ${track.title} by ${track.artist} played on ${track.source.capitalize()} and listen to the radio continuously without interruption with NovaTube.`
  meta(property='og:description', content=description)
  meta(name='description', content=description)
  meta(name='keywords', content=track.artist+','+track.title+',Music,Streaming,Radio,Nova,Playlist,Youtube')