@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?259544');
  src: url('../fonts/fontello.eot?259544#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?259544') format('woff2'),
       url('../fonts/fontello.woff?259544') format('woff'),
       url('../fonts/fontello.ttf?259544') format('truetype'),
       url('../fonts/fontello.svg?259544#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

//  Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it.
//  Note, that will break hinting! In other OS-es font will be not as sharp as it could be

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?41370857#fontello') format('svg');
  }
}


[class^='icon-'], [class*=' icon-'] {

  &:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    // opacity: .8;

    // For safety - reset parent styles, that can break glyph code
    font-variant: normal;
    text-transform: none;

    // fix buttons height, for twitter bootstrap
    line-height: 1em;

    // Animation center compensation - margins should be symmetric
    // remove if not needed
    margin-left: .2em;

    // you can be more comfortable with increased icons size
    // font-size: 120%;

    // Uncomment for 3D effect
    // text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);

  }


  &.mirror:before {
    transform: scaleX(-1);
  }
}

.icon-laptop:before { content: '\e800'; }
.icon-play:before { content: '\e801'; }
.icon-to-start:before { content: '\e802'; }
.icon-to-end:before { content: '\e803'; }
.icon-pause:before { content: '\e804'; }
.icon-facebook:before { content: '\e805'; }
.icon-heart:before { content: '\e806'; }
.icon-flag:before { content: '\e807'; }
.icon-youtube:before { content: '\e808'; }
.icon-angle-down:before { content: '\e809'; }
.icon-flash:before { content: '\e80a'; }
.icon-bomb:before { content: '\e80b'; }
.icon-block:before { content: '\e80c'; }
.icon-cancel:before { content: '\e80d'; }
.icon-fast-bw:before { content: '\e80e'; }
.icon-fast-fw:before { content: '\e80f'; }
.icon-to-start-alt:before { content: '\e810'; }
.icon-to-end-alt:before { content: '\e811'; }
.icon-stop:before { content: '\e812'; }
.icon-star:before { content: '\e813'; }
.icon-thumbs-up:before { content: '\f164'; }
.icon-thumbs-down:before { content: '\f165'; }
.icon-cog:before { content: '\e814'; }
.icon-medkit:before { content: '\f0fa'; }
.icon-clock:before { content: '\e815'; }
.icon-back-in-time:before { content: '\e816'; }
.icon-floppy:before { content: '\e817'; }
.icon-help-circled:before { content: '\e818'; }