@import '../_colors';
@import '../vendors/bootstrap/variables';
@import './fonts.scss';

html {
  position: relative;
  min-height: 100%;
  outline: none;
  font-size: $font-size-base;
}

body {
  background: url('../images/shattered-dark-applied.png') $lightgrey;
  font-family: 'Lato';
  text-align: center;
  margin: 0;
  letter-spacing: 0.4px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  &:hover, &.active, &:active, &:focus {
    text-decoration: underline;
    opacity: 0.8;
    color: inherit;
    outline:none !important;
  }
}

:focus, .active, a, .btn {outline:none !important;}
