@import '../_colors';

#bookmarkme {
  position: absolute;
  top: 0;
  left: 50px;
  height: 50px;
  width: 50px;
  background-color: $red;
  background-image:
    linear-gradient(
      hsla(hue($red), saturation($red), lightness($red), 0),
      hsla(hue($red), saturation($red), lightness($red), 0.5) 5px,
      hsla(hue($red), saturation($red), lightness($red), 0) 25px);
  -webkit-filter: drop-shadow(0 2px 6px hsla(hue($shadow), saturation($shadow), lightness($shadow), 0.75));
  box-sizing: border-box;
  padding-top: 50px;
  font-size: 1em;

  &:before,
  &:after{
    content: '';
    display: block;
    position: absolute;
  }
  &:before {
    bottom: -40px;
    height: 75px;
    width: 100%;
    background-image:
      linear-gradient(
        -45deg,
        transparent 50%,
        $red 50%),
      linear-gradient(
        45deg,
        transparent 50%,
        $red 50%);
    z-index: -1;
  }
  &:after {
    height: 136.5%;
    width: 88%;
    left: 6%;
    top: 0;
    border-style: dashed;
    border-color: $white;
    border-width: 0 1px;
    pointer-events: none;
  }
  a.link {
    display: block;
    position: absolute;
    top: 0;
    bottom: -25px;
    left: 0;
    right: 0;
    color: transparent;

    &:after {
      content: '';
      position: absolute;
      display: none;
      background-image: url('../images/screen.gif');
      width: 650px;
      height: 300px;
      opacity: 1;
      top: 95px;
      border: 6px solid white;
    }
    &:hover {
      opacity: 1;
      &:after {
        display: block;
      }
    }
  }

  .icon-star {
    top: -30px;
    position: relative;
    color: $white;
  }
  &:hover {
    .icon-star {
      color: $gold;
    }
  }

  // .label {
  //   background-color: white;
  //   color: $red;
  //   border-radius: 10px;
  //   transform: rotate(35deg);
  //   width: 35px;
  //   position: absolute;
  //   font-size: 11px;
  //   top: 4px;
  //   right: -9px;
  //   z-index: 1;
  //   font-weight: bold;
  //   border-style: double;
  //   border-width: 4px;
  // }


}