@import '../_colors';

.btn {
  border-radius: 0;
  padding: 6px 10px;
  font-size: 1rem;
  border: none;

  &.btn-lg {
    font-size: 1.5rem;
  }

  &.btn-primary {
    background-color: $red;
    color: $white;
    border: none;
    &:hover {
      background-color: darken($red, 10%);
      opacity: 0.8;
    }
  }

  &.btn-facebook {
    background-color: $fbblue;
    color: $white;

    .icon-facebook {
      position: relative;
      left: -2px;
    }

    &:hover {
      background-color: darken($fbblue, 5%);
    }
  }

  &.btn-like {
    background-color: $white;
    color: $red;
    white-space: inherit;
    &:hover {
      color: darken($red, 10%);
    }
  }
}

