@import '../_colors';


.modal-dialog {
  margin-top: 150px;
}

.modal-content {
  border-radius: 0;
  background-color: $lightgrey;
  border: none;
  font-size: 1.5em;
  .modal-header {
    border-bottom: none;
    .modal-title {
      font-size: 1.5em;
      color: $red;
    }
  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  input[type="url"] {
    background-color: $white;
    width: 100%;
    padding: 3px 5px;
    border: thin solid darken($lightgrey, 10%);
    font-size: 1.3em;
  }
}
