@import '../_colors';

.more-sources-tip {
  margin-top: 1rem;
  margin-bottom: 0;
  color: $white;
  a {
    text-decoration: underline;
  }
}

footer {
  padding: 25px;
  color: $red;
  font-size: 1rem;
  [class^="icon-"], [class*=" icon-"] {
    font-size: 1.3em;
  }

  hr {
    width: 30px;
    border-color: $red;
  }
}