@import '../_colors';

input[type="range"] {
  color: $white;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.5s ease;
  border: none;
  width: 8em;
  text-align: center;
  margin: 0 7px;
  &:hover, &:focus {
    background: $white;
    color: $red;
  }
}

input[type="number"], input[type="text"], input[type="url"] {
  transition: all 0.5s ease;
  margin: 0 3px;
  display: inline-block;
  border: none;
  text-align: center;
  color: $white;
  background: rgba(white, 0.1);
  width: 100%;
  padding: 3px;

  &::-webkit-input-placeholder {
    color: rgba($white, 0.5);
  }

  &:hover {
    background: $white;
    color: $red;
    &::-webkit-input-placeholder {
      color: rgba($red, 0.5);
    }
  }
}