@import '../_colors';

.modal {
  background-color: $red;
  color: $white;
  position: relative;
  padding: 30px;
  font-size: 1.2em;
  .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1em;
    color: inherit;
    background: none;
    border: none;
    padding: 6px;
    cursor: pointer;
  }

  hr {
    border-style: hidden;
    &.visible {
      border-color: rgba(255, 255, 255, 0.5);
      width: 270px;
      border-style: dashed;
    }
  }

  h5 {
    margin-bottom: 25px;
    font-size: 1.5em;
  }

  h6 {
    font-size: 1.2rem;
    margin: 1rem 0;
  }
}