@import '../_colors';

.options .modal {
  input {
    &[type='number'] {
      -moz-appearance:textfield;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  .btn-toggle {
    opacity: 0.3;
    box-shadow: none;
    &:hover {
      opacity: 0.6;
    }
    &.active {
      opacity: 1;
    }
  }

  .date-changer {
    background: rgba(255, 255, 255, 0.1);
    display: inline-block;
    transition: all 0.5s ease;
    margin-bottom: 1rem;
    &:hover, &:focus {
      background: $white;
      color: $red;
      input {
        color: $red;
      }
    }
    input {
      background: none;
      width: 4em;
    }
    // input[type="number"], input[type="text"] {
    //   transition: all 0.5s ease;
    //   margin: 0 3px;
    //   display: inline-block;
    //   background-color: transparent;
    //   border: none;
    //   text-align: center;
    //   width: 4em;
    //   color: $white;
    // }
  }
  ul.autoskip {
    text-align: left;
    list-style: none;
    display: inline-block;

    li {
      margin-bottom: 1rem;
      &:before {
        content: '→';
        position: relative;
        left: -0.2rem;
        top: -0.2rem;
        font-size: 2rem;
        line-height: 1rem;
      }
      // input[type="range"] {
      //   color: $white;
      //   background: rgba(255, 255, 255, 0.1);
      //   transition: all 0.5s ease;
      //   border: none;
      //   width: 8em;
      //   text-align: center;
      //   margin: 0 7px;
      //   &:hover, &:focus {
      //     background: $white;
      //     color: $red;
      //   }
      // }
    }
  }
}