@import '../_colors';

.box {
  background-color: $red;
  padding: 20px;
  box-shadow: 0 0 40px $shadow;
  max-width: 800px;
  margin: auto;

  .now-playing {
    margin-bottom: 1rem;

    #now {
      color: $white;
      font-size: 1.6rem;
      // letter-spacing: 1px;

      .infos {

      }

      .stats {
        font-size: 0.5em;
        letter-spacing: 0.6px;
      }
      .no-line-break {
        display: inline-block;
        padding-right: 5px;
      }
    }

    @media screen and (max-width: 650px) {
      .marged-small-screen {
        margin-top: 10px;
        margin-bottom: 10px;

      }
    }

    .btn.btn-link {
      color: $white;
      text-decoration: none;
    }

  }

  .player-wrapper {
    position: relative;
    padding-bottom: 56%;
    height: 0;
    #player {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      span.icon-youtube {
        color: $white;
        font-size: 9em;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
        padding-top: 18%;
        top: 0;
        bottom: 0;
        background-color: $black;
      }
    }

    &:hover {
      #progressBar {
        height: 8px;
        background-color: rgba(0, 0, 0, 0.6);
        .time {
          opacity: 1;
        }
      }
    }



    $progress-bar-height: 3px;
    #progressBar {
      height: $progress-bar-height;
      width: 100%;
      position: absolute;
      bottom: 0;
      transition: all 0.3s ease;
      background-color: transparent;

      .time {
        position: absolute;
        z-index: 1;
        color: $white;
        transition: opacity ease 0.2s;
        font-size: 0.8rem;
        bottom: -1rem;
        left: 0;
        right: 0;
        margin: auto;
        margin-bottom: -$progress-bar-height;
      }

      .played {
        background-color: $red;
        height: 100%;
        width: 0%;
        position: absolute;
      }

      .clickzone {
        position: absolute;
        height: 200%;
        width: 100%;
        background-color: transparent;
        cursor: pointer;
        z-index: 1;
        top: -50%;
      }
    }
  }

  .controls {
    #controls {
      .controls-wrapper {
        background-color:$red;
        position: relative;

        @media (max-width: 395px) {
          text-align: left;
        }
        .btn {
          display: inline-block;
          border: none;
          border-radius: 0;
          background-color: transparent;
          font-size: 2rem;
          border-radius: 50px;
          padding: 1rem 0.5rem;
          color: $white;

          &:active, &.active {
            -webkit-box-shadow: none;
            box-shadow: none;
          }

          &.active {
            text-shadow: rgba($white, 0.6) 1px 1px 0px, rgba($text-color, 0.67) -2px -2px 1px;
            color: darken($white, 20%);
          }

          &:hover {
            color: darken($white, 10%);
          }
        }

        .actions {
          float: left;
        }

        .socials {
          float: right;
        }
        .fix-track {
          .tooltip {
            font-size: 1rem;
          }
        }
      }
    }
  }

  #trackscroll {

    .autoskip {
      color: $white;
      float: right;

      input {
        background-color: $white;
        color: $red;
        border: none;
        width: 30px;
        text-align: center;

        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }


    #tracklist {
      max-height: 300px;
      overflow-y: scroll;
      overflow-x: hidden;
      // border: solid #dddddd 1px;
      font-family: 'lato', sans-serif;
      font-size: 1rem;
      width: 100%;
      transition: max-height 0.15s ease-out;
      background: $white;

      & > ul {
        list-style: none;
        padding: 0;
        text-align: left;
        margin-bottom: 0;
        line-height: 28px;
        background-color: $white;

        li.track {

          background-color: $white;
          cursor: pointer;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 22px;

          &:hover {
            background-color: darken($white, 10%);
          }

          &.liked {
            .cover:after {
              content: '\f164';
            }
          }

          &.active {
            // background-color: darken($white, 10%);
            background-color: rgba($red, 0.8);
            color: $white;
          }

          &:not(.liked) {
            &.skipped {
              opacity: 0.5;
              .cover:after {
                content: '\e811';
              }
            }

            &.disliked {
              opacity: 0.5;
              .cover:after {
                content: '\f165';
              }
            }
          }


          .cover {
            img {
              height: 45px;
              width: 45px;
            }
            margin-right: 5px;
            float: left;
            position: relative;
            &:after {
              left: -7px;
              font-size: 2.5em;
              color: $red;
              right: 0;
              top: 3px;
              content: '';
              position: absolute;
              font-family: 'fontello';
              font-style: normal;
              font-weight: normal;
              speak: none;
              display: inline-block;
              text-decoration: inherit;
              width: 100%;
              margin-right: 0.2em;
              text-align: center;
              font-variant: normal;
              text-transform: none;
              line-height: 1em;
              margin-left: 0.2em;


            }
          }

          .when {
            float: right;
          }

        }
      }

      button#more {
        border-radius: 0;
        background-color: $white;
        border: none;
        line-height: 20px;
        &:hover {
          background-color: darken($white, 10%);
        }
      }

    }
  }
}

