@import '../_colors';

#title {
  color: $red;
  h1 {
    font-weight: 500;
    font-size: 5.5rem;
    font-family: 'Playfair Display', serif;
    a {
      display: inline-block;
      padding: 0 20px;
      text-shadow: 0 0 20px #cdcdcd;
      &:hover, &:active, &:focus {
        text-decoration: none;
        opacity: 1;
      }
    }

    @media screen and (max-width: 500px) {
      font-size: 4rem;
    }
    @media screen and (max-width: 400px) {
      font-size: 3rem;
    }

  }
}

.separation {
  border-top: 2px solid $red;
  width: 60px;
  margin: 1rem auto;
}

#subtitle{
  color: $red;
  font-size: 1rem;
  margin-bottom: 2rem;
}