@import '../_colors';

.helper {
  .tooltip-holder {
    position: relative;
    display: inline-block;
    // overflow: hidden;
    cursor: pointer;
    vertical-align: top;
    .tooltip {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      background: $white;
      color: $red;
      right: -100px;
      bottom: 100%;
      left: -100px;
      transition: visibility 0s, opacity 0.2s ease;
      z-index: 1000;
      padding: 5px 10px;
      font-size: 1.2rem;
      white-space: normal;
      margin-bottom: 3px;
      &:before {
        content: '';
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        position: absolute;
        left: 0;
        bottom: -3px;
        border-bottom: 3px solid $white;
        border-right: 3px solid $white;
        right: 0;
        margin: auto;
      }
    }

  }
  &:hover {
    opacity: 1;
    .tooltip-holder .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }
}
